extends layout

block content
  h1= title
  - let items = results
  div(class='container-fluid')
    div(class='row')
      each val, index in items
        div(class='col-lg-12' .mt-4) #{val} #{index}
